.wrap {
    padding: 90px 30px 200px 30px;
}
.formBox {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: gray;
    position: relative;
}
.input {
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid gray;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.button {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-80%,-50%);
}
.select {
    border: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}
.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 50px;
}

.pageItem {
    margin: 0 5px;
}

.pageLink {
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
}

.pageLink:hover {
    background-color: #f0f0f0;
}

.activePage .pageLink {
    color: white;
}

.disabledPage .pageLink {
    color: #ccc;
    pointer-events: none;
    cursor: default;
}
.active {
    font-weight: bold;
}
